<div class="container">
    <table id="table_id" class="table table-striped table-bordered dt-responsive nowrap" style="width:100%">
        <thead>
            {% block _datatable_html__thead %}{% endblock %}
        </thead>
        <tbody>
            {% block _datatable_html__tbody %}{% endblock %}
        </tbody>
    </table>
</div>